body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.carousel-container {
    height:100%;
    width: 60%;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}
.carousel-nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    top: 50%; /* Centered vertically */
    transform: translateY(-50%);
}

.carousel-prev, .carousel-next {
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    pointer-events: all;
    cursor: pointer;
    z-index: 1; /* Placed above images */
}

.carousel-prev {
    margin-left: 10px;
}

.carousel-next {
    margin-right: 10px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height:40%;
    padding: 10px;
    box-sizing: border-box;
}

.description h2 {
    margin: 0;
}

.description p {
    margin: 5px 0;
}
/* Add styles for the modal */
 /* Add styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* styles the modal content */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: 5% auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalContent {
    text-align: center;
}

#modalContent img {
    width: 40%; /* Adjust the width as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    float: left;
    margin-right: 20px; /* Adjust the margin as needed */
}

